.ngCoderwall, .ngCoderwall li{
    list-style:none;
    margin:0;
    padding:0;
}
.ngCoderwall li{
    display:inline-block;
    height:50px;
    width:50px;
    background-size:50px 50px;
    position:relative;
    z-index:0;
}
.ngCoderwall li div{
    font-family:arial;
    font-size:9px;
    border-radius:4px;
    top:55px;
    padding:4px;
    color:#fff;
    background:#000;
    position:absolute;
    opacity:0;
    transition:opacity 200ms ease-in;
    z-index:1;
    width:300px;
}
.ngCoderwall li:hover div{
    opacity:1;
}